*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}


.mission-container {
  display: flex;
 flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
}

.mission-text {
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-bottom: 30px ;
  max-width: 500px;
  background-color: #f8f9fa;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  z-index: 1;
  gap: 20px;
}




.mission-zampetta2 {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 20px;
  height: 20px;
 
}