*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}


.mission-container {
  display: flex;
 flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
}

.mission-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 40pxg;
  align-items: center;
  border: 3px solid #240046;
  background-color: #e5d4f6;
  border-radius: 20px;
  box-shadow: 0 6px 12px 0 rgba(36, 0, 70, 0.4), 0 8px 24px 0 rgba(36, 0, 70, 0.35);
  text-align: center;
  gap: 10px;
  padding: 50px;
  color: #240046;
  max-width: 1500px;
  font-size: large;
}

.mission-thanks{
    padding-top: 30px;
    gap: 10px;

}