.Navbar {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  position: absolute; 
  top: 0;
  width: 900px;
  height: 80px;
  z-index: 10;
  background-color: #f8f9fa;
  border-radius: 20px;

  ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      margin-left: 1rem;
    }

    a {
      text-decoration: none;
      color: black;


      text &:visited {
        color: #a29c9c; 
      }

      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.btn-primary {
  color: white;
  background-color: #7b2cbf;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  border-color: transparent;
}
