.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 40px;
  background-color: #7b2cbf;
  overflow: hidden;
  max-height: 100vh;
  padding: 50px;
  position: absolute;
  overflow: scroll;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 70px;
}

.about-text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 70px;
  width: 1200px;
  color: #7b2cbf;
  font-size: 20px;
  font-weight: bold;
  background-color: #f8f9fa;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  gap: 10px;
  z-index: 1;
}

.about-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-title {
  color: #240046;
}

.align-text {
  text-align: center;
}

.zampettando {
  display: flex;
  gap: 20px;
  align-self: center;
}

.mission-zampetta2 {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 25px;
  height: 25px;
  fill: #7b2cbf;
}

@media (max-width: 1025px) {
  .navbar {
    display: flex;
    margin: 200px;
    overflow: scroll;
  }

  .about-container {
    overflow: scroll;
  }

  .about-text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    margin: 620px;
    overflow: scroll;
  }

  .about-container {
    overflow: scroll;
  }

  .about-text-container {
    display: flex;
    flex-direction: column;
    z-index: 0;
    width: 100%;
  }
}

@media (max-width: 612px) {
  .navbar {
    margin: 80px;
  }
}

@media (max-width: 480px) {
  .navbar {
    display: flex;
    margin: 620px;
    overflow: scroll;
  }

  .about-container {
    overflow: scroll;
  }

  .about-text-container {
    display: flex;
    flex-direction: column;
    z-index: 0;
    width: 100%;
  }
}
