.carousel-button {
  background-color: white;
  color: #7b2cbf;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  font-size: 1.5rem;
}


.carousel-button:hover {
  cursor: pointer;
  color: #d9c6ec;
}
.containerCarousel {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  width: 1400px;
  scroll-behavior: smooth;
  overflow-x: scroll;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 33.333%;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1c4;
}

::-webkit-scrollbar-thumb {
  background: #4c4c4c;
}

::-webkit-scrollbar-thumb:hover {
  background: #2c2c2c;
  cursor: pointer;
}

.app {
  display: flex;
  width: 1410px;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
@media (max-width:1025px) {
  .containerCarousel {
    width: 100%; 
    flex-direction: row; 
  }

  .app {
    width: 100%; 
    gap: 0; 
    flex-direction: row; 
  }
}

@media (max-width:769px) {
  .containerCarousel {
    width: 100%; 
    flex-direction: row; 
  }

  .app {
    width: 100%; 
    flex-direction: row; 
    gap: 0;
  }
  .carousel-button {
    display: none;
  }

  }

@media (max-width:480px) {
  .containerCarousel {
    width: 100%;
    flex-direction: row; 
    
  }

  .app {
    width: 100%; 
    gap: 0; 
    flex-direction: row;
  }
  .carousel-button {
    display: none;
  }
}