.dashboard-container {
  display: flex;
  flex-direction: row;
  background-color: #7b2cbf;
}

.dashboard-content {
  background-color: #7b2cbf;
}

.dashboard-menu {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  background-color: #240046;
  gap: 20px;
  color: #f8f9fa;
  justify-content: space-between;
  z-index: 3;
}

.title {
  color: #ffffff;
}

.dashboard-menu ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 10px;
  margin: 0;
  gap: 10px;
}

.dashboard-menu li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.dashboard-menu li:hover {
  cursor: pointer;
}

.dashboard-menu li svg {
  border-color: #f8f9fa;
}

.menu-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  background-color: #f8f9fa;
}

.dashboard-content-top {
  background-color: #7b2cbf;
}

.user-profile {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 20px;
  margin: 0;
  gap: 10px;
}

.user-profile:hover {
  cursor: pointer;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 20px;
  width: 100%;
  position: relative;
}

.search svg {
  position: absolute;
  margin-left: 10px;
}

.user-propic {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
}

.wishlist {
  padding: 20px;
  background-color: #7b2cbf;
}
