.Navbar {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 1200px;
  height: 80px;
  z-index: 10;
  background-color: #f8f9fa;
  border-radius: 20px;
  position: absolute;

  .logo-FurFind {
    padding: 10px;
    width: 230px;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    padding: 30px;
    margin: 0;
    gap: 5px;

    li {
      margin-left: 1rem;
    }

    a {
      text-decoration: none;
      color: black;

      text &:visited {
        color: #a29c9c;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.linksdeilinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.icon-group {
  height: 36px;
  width: 36px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 4px;
  padding: 2px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  transition:
    width 300ms ease-in-out 0s,
    background-color 300ms linear 200ms;
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: #7b2cbf;
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.access-icon {
  height: 36px;
  aspect-ratio: 1 / 1;
  background-color: transparent;
  border-color: transparent;
}

.icon-group:hover,
.icon-group:focus-visible {
  width: 192px;
  background-color: var(--color-mid);
  transition:
    width 300ms ease-in-out 0s,
    background-color 100ms linear 0s;
}
.icon-group:focus-visible {
  outline: 1px solid var(--color-mid);
  outline-offset: 4px;
}
.icon-group:active {
  opacity: 0.9;
}
.icon-group::after {
  content: attr(tooltip);
  margin-left: 12px;
  animation: 600ms linear forwards;
  cursor: pointer;
}
/*pushing a hamburger menu into a pillow texture like background*/

.menuButton {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  color: #7b2cbf;
  width: 3.5em;
  height: 3.5em;
  border-radius: 0.5em;
  background: #f8f9fa;
  border: 1px solid transparent;
  transition: all 0.3s;
}

.menuButton:hover {
  border: 1px solid #7b2cbf;
  cursor: pointer;
}

.menuButton:active {
  color: #666;
  box-shadow:
    6px 6px 12px #3a3a3a,
    -6px -6px 12px #000000;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  display: none;
  visibility: hidden;
}

.menuButton span {
  width: 30px;
  height: 4px;
  background: #7b2cbf;
  border-radius: 100px;
  transition: 0.3s ease;
}

.dropdowncontent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 480px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  margin-left: 600px;
  margin-bottom: 14px;
  text-align: center;
}

.dropdowncontent a {
  text-decoration: none;
  cursor: pointer;
  margin-top: 8px;
}

.dropdowncontent li button {
  cursor: pointer;
  border: none;
}

.dropdowncontent ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style-type: none;
}

.dropdowncontent:hover {
  outline: none;
  border-color: #7b2cbf;
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

// input[type]:checked ~ span.top {
//   transform: translateY(290%)rotate(45deg);
//   width: 40px;
// }

// input[type]:checked ~ span.bot {
//   transform: translateY(-270%) rotate(-45deg);
//   width: 40px;
//   box-shadow: 0 0 10px #495057;
// }

// input[type]:checked ~ span.mid {
//   transform: translateX(-20px);
//   opacity: 0;
// }

@media (max-width: 768px) {
  .Navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: auto;
    padding: 10px;
    z-index: 1;
    max-width: fit-content;
  }

  .linksdeilinks {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

.navbar-links {
  display: flex;
  flex-direction: column;
}

  .containericons {
    display: flex;
    flex-direction: row;
    padding: 15px;
  }

}

@media (min-width: 350px) and (max-width: 654px) {
  .Navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: auto;
    padding: 10px;
    z-index: 1;
  }

}
