.containerAnnunci {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #7b2cbf;
}

.navAnnunci {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  top: 0;
  max-width: 1200px;
  height: 80px;
  background-color: #f8f9fa;
  border-radius: 20px;
  gap: 20px;
  padding: 20px;
}
.logoNav {
  width: 230px;
  padding: 5px;
}
.contSelect {
  display: flex;
  gap: 10px;
}
.formAnnunci {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}
.formAnnunci::placeholder {
  color: #9e9ea7;
}

.formAnnunci:focus,
.formAnnunci:hover {
  outline: none;
  border-color: #7b2cbf;
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}
.selectAnnunci {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;

  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}
.selectAnnunci:focus,
.selectAnnunci:hover {
  outline: none;
  border-color: #7b2cbf;
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}
.textSelect {
  padding-top: 10px;
}
.otherCard {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-top: 100px;
  max-width: 1200px;
  z-index: 1;
  padding-bottom: 100px;
}
.containerOtherCard {
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  gap: 50px;
  align-items: center;
  padding-right: 50px;
}
.nomeImmagine {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.descrizioniCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 30px;
  width: 100%;
  height: 200px;
}
.righeContatti {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 30px;
  height: 200px;
  color: #7b2cbf;
  gap: 10px;
  font-weight: bolder;
  font-size: 18px;
}
.righeContatti b {
  color: #240046;
}
.immaginiPet {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.scritte {
  margin-bottom: 10px;
  font-weight: bold;
  margin-left: 20px;
  color: #7b2cbf;
  font-size: 18px;
}

.scritte b {
  color: #240046;
  font-weight: bolder;
}
.iconeContatti {
  display: flex;
  stroke: #7b2cbf;
  justify-content: center;
  gap: 50px;
}
.cuoreAnnunci :hover {
  fill: #7b2cbf;
}
.cuoreAnnunci:checked {
  fill: #7b2cbf;
}
.iconeContatti :hover {
  cursor: pointer;
}
.animaleNonTrovato {
  color: #fff;
  font-weight: bolder;
  font-size: 30px;
  display: flex;
  padding: 50px;
}

.homelink {
  text-decoration: none;
}

.homelink:hover {
  text-decoration: underline;
}

.heart-btn {
  background-color: transparent;
  border-color: transparent;
}

@media (max-width: 1025px) {
  .navAnnunci {
    width: 90%;
  }

  .containerOtherCard {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
}

@media (max-width: 769px) {
  .navAnnunci {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: auto;
    padding: 10px;
    z-index: 1;
  }

  .logoNav {
    width: 150px;
  }

  .containerAnnunci {
    padding: 20px;
  }

  .otherCard {
    gap: 50px;
    padding-top: 50px;
  }

  .righeContatti {
    padding: 20px;
    height: auto;
  }
}

@media (max-width: 480px) {
  .navAnnunci {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: auto;
    padding-bottom: 30px;
    z-index: 1;
  }

  .logoNav {
    width: 150px;
  }

  .containerAnnunci {
    padding: 20px;
  }

  .otherCard {
    width: 400px;
    gap: 50px;
    padding-top: 50px;
  }

  .righeContatti {
    padding: 20px;
    height: auto;
  }
}
