
.book {
  position: relative;
  border-radius: 10px;
  width: 300px;
  height: 350px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  gap: 20px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: left;
  color: #000;
}

.cover {
  top: 0;
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

.immaginiPet {
  width: 220px;
  height: 300px;
  padding-top: 30px;
}
.nomiPet {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #7b2cbf;
  text-align: center;
}
.iconPet {
  width: 30px;
  padding: 5px;
  fill: #7b2cbf;
}

.card-page {
  padding: 40px;
    display: flex;
    gap: 20px;
    height: 100%;
    flex-direction: column;
    font-size: larger;
}
.contatti {
   display: flex;
    justify-content: center;
    height: 72%;
    position: absolute;
    gap: 30px;
    margin-left: 40px;

}
.iconContatti {
  margin: auto;
  margin-bottom: 10px;
  stroke: #7b2cbf;
}
.iconContatti:hover {
  cursor: pointer;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.book {
  margin: 30px;
}

.descrizione {
  color: #7b2cbf;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.scritte {
  margin-bottom: 10px;
}
.posizione {
  color: #7b2cbf;
  margin-bottom: 10px;
}
.iconPosizione {
  stroke: #7b2cbf;
}
