*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #240046;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px;
  border-radius: 5px;
  gap: 10px;
}

.first-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 45%;
  height: 120px;
  gap: 10px;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: #d9c6ec;
  border-radius: 10px;
}

.typo {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 45%;
  height: 120px;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: #d9c6ec;
}

.btn-primary {
  color: white;
  background-color: #7b2cbf;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  border-color: transparent;
}

.btn-secondary {
  color: #7b2cbf;
  background-color: white;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  border-color: transparent;
}

.second-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.logo {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 45%;
  height: 120px;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: #d9c6ec;
}

.colors {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 45%;
  height: 120px;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: #d9c6ec;
  gap: 30px;
}

.colors .color {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
}

.color-container {
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 50px;
  font-size: 10px;
}

.c1 {
  background-color: #240046;
}

.c2 {
  background-color: #7b2cbf;
}

.c3 {
  background-color: #d9c6ec;
}

.c4 {
  background-color: #f8f9fa;
}

.c5 {
  background-color: #ffffff;
}

.third-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.icons {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 45%;
  height: 120px;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: #d9c6ec;
  gap: 10px;
}

.form {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 45%;
  height: 120px;
  flex-wrap: nowrap;
  background-color: #d9c6ec;
}

.icon-row1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.icon-row2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
